# Ignore log files
build-logs

# Ignore automatic dependency makefile
image-deps.make

# Ignore tarball md5sums
md5sums

# Ignore built packages
packages

# Ignore docker image timestamp proxy files
status

# Ignore built tarballs
tarballs
